<footer>
    <div id="main-footer" class="container">

        <div id="insta">
            <h4>
                Instagram
            </h4>
            <div id="instanab"></div>

        </div>

        <div id="links">
            <h4>
                Contact Us
            </h4>

            <div id="emails">
                <div>richmondartcollective@gmail.com</div>
            </div>
            <div id="social-media">

                <ul class="blank">
                    <li>
                        <a>
                            <i class="fab fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div id="address">

                <div>
                    228 W Sprague Ave.
                </div>
                <div>
                    Suite C
                </div>
                <div>
                    Spokane, WA 99201
                </div>
            </div>
        </div>

        <div id="contact">
            <h4>
                Stay In Touch
            </h4>
            <form id="subscribe">
                <div class="form-group">

                    <label for="name">
                        Name
                    </label>
                    <input placeholder="Joseph Beuys" type="text" id=name>

                </div>

                <div class="form-group">

                    <label for="email">
                        Email
                    </label>
                    <input placeholder="jb@gmail.com" type="email">
                </div>

                <a class="btn btn-white" type="button" id="submit">Subscribe</a>
            </form>
        </div>

    </div>
    <div id="bottom">
        <div class="container">
            © 2018 Richmond Art Collective
        </div>
    </div>
</footer>