<footer>
    <div class="container">
        <div id="social-media">
            <ul class="blank">
                <li>
                    <a>
                        <i class="fab fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div id="email">
            richmondartcollective@gmail.com
        </div>
    </div>
</footer>