<nav>
  <a class="brand" href="{{ .Site.BaseURL }} ">
    RAC
  </a>

  <a href="javascript:void(0)" id="open-button" onclick="opennav()">
    {{ partial "svg/hamburger.svg" }}
  </a>

  <!-- 

    Mobile only navigation

    It is a big overlay

  -->
  <div id="nav-overlay">
    <a href="javascript:void(0)" id="close-button" onclick="closenav()">&times;</a>

    <div id="overlay-content">
      <ul>
        {{ range where .Site.RegularPages "Section" ""}}

        <li>

          <a href="{{ .Permalink }}">
            {{ .Params.linkName }}
          </a>

        </li>

        {{ end }}


        <li>
          <a href="{{ .Site.BaseURL }}#members">
            Current Members
          </a>
        </li>

      </ul>
    </div>

  </div>
  
  <!-- end mobile nav -->

  <!--

    Begin Desktop version of navbar

  -->
  <div id="nav-items-large" class="lg-only">
    <ul class="blank">
      {{ range where .Site.RegularPages "Section" ""}}

      <li>

        <a href="{{ .Permalink }}">
          {{ .Params.linkName }}
        </a>

      </li>

      {{ end }}


      <li>
        <a href="{{ .Site.BaseURL }}/members">
          Current Members
        </a>
      </li>

    </ul>
  </div>

  <div class="lg-only">
    <a href="#" class="btn btn-bold">DONATE</a>
  </div>




</nav>