<section id="about">

    <div class="container">
        <p>
            RAC was formed in 2013 as a response to a growing local interest in mixed-use spaces. 
            
            Since its conception, 
            RAC has attracted talented emerging and mid-career artists locally and nationally. 
        
            The historic Richmond Hotel, 
            converted into inspiring live-work areas, 
            serves as a conduit for creative exchange. 
        
            The list of disciplines includes digital, audiovisual,
            and mixed-media, which converge to create authentic experiences. 
        
            We are also home to the <a href="http://residency.laboratoryspokane.com/residents/">Laboratory Spokane Residency program</a>, 
            which sponsors interactive work from around the world.
        </p>
    </div>
</section>