@import 'functions';
@import 'mixins';
@import 'variables';
@import 'reboot';

body,
html {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

audio,
canvas,
iframe,
svg,
img,
video {
  max-width: 100%;
  vertical-align: middle;
}

#member-gallery {
  display: flex;
  flex-wrap: wrap;
  .member-summary {
    flex-basis: 50%;
    max-width: 50%;
    position: relative;

    .details {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      padding: 50px;
      background-color: rgba(0, 0, 0, 0.8);
      transition: opacity 0.2s;
    }
  }
}