@import 'variables';
#members {
  background-color: #0f1010;
}

.member-grid {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  .member-tile {
    position: relative;
    img {
      filter: grayscale(100%);
    }
    .details {
      position: absolute;
      display: flex;
      opacity: 1;
      padding: 0 0.5em;
      background: rgba(0, 0, 0, 0.5);
      transition: opacity 0.3s ease;
      top: 0;
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .name {
        font-size: 1.5em;
        color: $white;
        margin-bottom: 0.7em;
        text-align: center;
      }
      a {
        text-decoration: none;
      }
    }
    @media screen and (min-width: 500px) {
      flex-basis: 50%;
    }
    @media screen and (min-width: 700px) {
      .details {
        opacity: 0;
      }
      &:hover {
        .details {
          opacity: 1;
        }
      }
    }
  }
}