@import 'variables';
#members {
  background-color: #0f1010;
}

.member-grid {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  .member-tile {
    position: relative;
    flex-basis: 50%;
    img {
      filter: grayscale(100%);
    }
    .details {
      position: absolute;
      display: flex;
      background: rgba(0, 0, 0, 0.8);
      opacity: 0;
      padding: 0 0.5em;
      transition: opacity 0.3s ease;
      top: 0;
      // i cannot figure out a non-hacky way to make the links un-clickable while invisible without too much js, or losing my slick transition
      left: -10000;
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .name {
        font-size: 1.5em;
        color: $white;
        margin-bottom: 0.7em;
        text-align: center;
      }
      a {
        text-decoration: none;
      }
    }
    &.show,
    &:hover {
      .details {
        left: 0;
        opacity: 1;
      }
    }
  }
}