{{ define "styles" }}

<link rel="stylesheet" href="{{ .Site.BaseURL}}_build/member-single.css"> {{ end }} {{ define "main" }}

<article>
  <header>
    <figure>
      <img src="{{ .Site.BaseURL }}{{ .Params.profile }}">
    </figure>
  </header>

  <div class="content-wrapper">
    <div class="content-inner">

      <h1>
        {{ .Params.name }}
      </h1>

      {{ .Content }} 
      
      <!-- Links -->
      {{ range .Params.links }}

      <div>

        <a href="{{ .url }}">
          {{ .name }}
        </a>

      </div>
      {{ end }}
    </div>

  </div>
</article>

{{ end }}